
  /* CSS CLAUDIA */

  .page-wrapper {
    width: 100%;
    height: 100vh;
    overflow: auto;
  }
  
  .header-web{
    width: 100%;
    display:flex;
    align-items: center;
    background-color:#381D2A;
    box-sizing: border-box;
    padding: 10px 15px;
  }
  .header-mobile {
    display: none;
  }
  .header-web .logo-wrapper {
    width: 75px;
    height: auto;
  }
  .logo{
    width: 100%;
    height: auto;
  }
  .search-wrapper {
    margin-left: auto;
  }
  .search-wrapper-mobile {
    display: none;
  }
  .search{
    background-color:transparent;
    height: fit-content;
    display: flex;
  }
  .searchbar[type=text]{
    font-family:'Raleway';
    border: 1px solid rgb(66, 3, 56);
    border-radius:20px;
    font-size: 17px;
    color:#001A33;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  .buttonsearch{
    background: rgba(95, 0, 63, 0.479);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius:15px;
    cursor: pointer;
    width: 35px;
    height: 35px;
  }
  .header-links-wrapper {
    margin-left:20px;
    display:flex;
    align-items:center;
    width: fit-content;
    height: auto;
  }
  .header-link {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  .header-link img {
    width: 100%;
    height: auto;
  }
  .logout-wrapper {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    cursor: pointer;
  }
  .logout-wrapper a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  
  }
  .logout-wrapper i {
    font-size: 16px;
    color: white;
    margin-left: 5px;
  }
  .logout-wrapper:hover a {
    font-size: 18px;
  }
  .logout-wrapper i {
    font-size: 20px;
  }
  html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#381D2A
  }
  
  .menu {
    margin: 0;
    width:18%;
  padding: 0;
    background-color:#381D2A;
    display: flex;
    flex-direction: column;
  }
  
  .submenu-claus-container {
    width: 197px;
    margin-top: 10px;
  
  }
  
  .submenu-claus {
    display: none;
    text-decoration: none;
    color: white;
  }
  
  .submenu-text {
    color:rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .menu-element{
  display: flex;
    padding: 8px 16px;
    align-items: flex-start;
  }
  .menu-image {
    color: #000;
    width: 50px;
    height: 40px;
    max-width: 220px;
    padding-right: 12%;
  }
  .menu-text {
    color:rgb(255, 255, 255);
    padding-top:5px;
    text-decoration: none;
    display: none;
  }
  .menu:hover .menu-text{
    display: initial;
  }
  .menu-text:hover{
    background-color: #555;
  color: white;
  }
  .menu:hover .submenu-claus-container .submenu-claus {
    display: inline;
  }
  footer{
    text-align:left;
  }
  
  .contact a{
    text-decoration: none;
    color: white;
    display: inline;
  }
  .contact-form{
    text-align: center;
    text-decoration: wavy;
  }
  .another-container{
    text-align: center;
  }
  .mobile-menu {
    display: none;
  }
  
  .content2{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 30px;
    box-sizing: border-box;
  }
  

  .container {
    width: 80%;
    background-color: white; 
    border-radius: 25px;
    margin-right: 50px;
  }

  h1.product-title {
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
  }
  
  
  .product-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    display: inline-block;
    font-weight: bold;
    color: #381D2A;
    width: 45%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: 5%;
  }

  .section-2 .no-lists-found{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
    color: #381D2A;
    width: 100%;
    
  }

  .section-2 {
    color: #381D2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .section-2 ul li {
    margin-top: 30px;
  }
  
  .section-2 .list-item {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .section-2 button {
    width: auto; 
    font-size: 1.5em;
    margin-top: 30px;
  
  }
  
  .section-2 p {
    font-size: 3em;
    text-align: center;
    margin-top: 7%;
  }
  
  .section-2 h1 {
    font-size: 4em;
  }
  .list-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    color:#FFA552;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    font-weight: bold;
  }
  
  .list-item button {
    font-size: 0.8em;
  }
  
  .list-item2 .image {
      width:30%;
      height: 30%;
      float:left;
  }
  .card {
    margin-top:25px;
    margin-bottom:25px;
    width : 90%;
    border-radius: 3px;
    border-bottom:2px solid #A9A9A9;
    border-top:2px solid #A9A9A9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
  }
  
  .list-image {
      max-width: 30%;
      float:left;
  }
  
  .image-size {
      width:90%;
      height:220px;
      border-radius:2px;
      margin-left: 38%;
  }
  
  .list-description {
      width: 70%;
      float:right;  
  }
  
  .list-ingredients {
    font-size: 1.3em;
    text-align: left;
    margin-top: 10px;
  }
  
  .ingredients-title {
    font-size: 1.4em;
    text-align: left;
    font-weight: bold;
  }

 .buttoncard button {
   border-radius: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    color: #FFA552;
    border: none;
    background-color: #381D2A;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(66, 5, 66, 0.19);
    width: auto;
    cursor: pointer;
    padding: 5px 12px;
    margin-bottom: 2%;
    
  }

  .stergere button{
    border-radius: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    color: #FFA552;
    border: none;
    background-color: #381D2A;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(66, 5, 66, 0.19);
    width: auto;
    cursor: pointer;
    padding: 5px 12px;
    margin-top: 0;
  }

  .buttoncard button:hover, .stergere button:hover{
    background-color: #FFA552;
    color: white;
  }

  #produs-lista {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    font-size: 0.8em;
    table-layout: auto;
    width: 40%;
  }
  
  #produs-lista td,  #produs-lista th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #produs-lista th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: grey;
    color: white;
  }

  #produs-lista tr td{
    background-color: white;
  }

  @media all and (max-width: 1000px){

    h1.product-title{
      font-size: 2em;
    }

    .section-2 .list-description .list-title {
      font-size: 1.3em;
    }

    .section-2 .list-description .ingredients-title, .section-2 .list-description .list-ingredients{
      font-size: 1em;
    }

    .list-description {
      margin-left: 2%;
    }
  }

   /* CSS CLAUDIA */
  @media only screen and (max-width: 800px) {
   
    .header-web {
        display: none;
    }
    .header-mobile {
         display: flex;
         align-items:center;
         padding: 20px 15px;
         box-sizing: border-box;
    }
    .menu {
        display: none;
    }
    .logo-mobile {
         margin-left: auto;
         margin-right: auto;
         width: 70px;
         height: auto;
    }
    .header-mobile-burger {
        width: auto;
        height: auto;
    }
    .header-mobile-burger i{
         color: white;
         font-size: 26px;
     }
     .content{
         width: 100%;
         display: flex;
         padding: 10px 20px;
         box-sizing: border-box;
     }
     .container{
         width: 100%;
         margin-right: 0;
     }
     .mobile-menu{
         position: absolute;
         width: 100%;
         height: 100vh;
         top: 0;
         background: white;
         z-index: 5;
         display: flex;
         padding: 20px 15px;
         box-sizing: border-box;
         display: flex;
         flex-direction: column;
         display: none;
     }
     .show-mobile-menu {
         display: block;
     }
     .infos-wrapper {
         display: flex;
         align-items: center;
         width: 100%;
         height: fit-content;
         padding-bottom: 10px;
         border-bottom: 1px solid black;
     }
     .close-menu-icon i{
         color: black;
         font-size: 26px;
     }
     .menu-text {
         display: block;
         color: black;
         font-size: 16px;
         font-weight: bold;
     }
     .submenu-claus-container {
         position: relative;
         width: 197px;
     }
     
     .submenu-claus {
         display: none;
         position: relative;
         /* top: 0; */
         /* right: 0px; */
         text-decoration: none;
         color: black;
         display: flex;
         flex-direction: column;
         width: 100%;
     }
     .submenu-claus div {
         align-self: center;
     }
     .submenu-text {
         color:black;
         text-decoration: none;
     }
     .header-links-wrapper {
         width: 100%;
         justify-content: center;
         margin-left: 0;
     }
     .logout-wrapper {
         width: 100%;
         justify-content: center;
     }
     .logout-wrapper a {
         color: black;
     }
     .logout-wrapper i {
         color: black;
     }
     .subheader-mobile {
         width: 100%;
         height: fit-content;
         display: flex;
         justify-content: center;
     }
     .search-wrapper-mobile {
         display: block;
         width: fit-content;
     }
 }   

  @media all and (max-width: 740px){

    h1.product-title{
      margin-bottom: 1%;
    }
    .card{
      display: flex;
      flex-direction: column;
    }

    .section-2 .no-lists-found{
      font-size: 2em;
      margin-top: 25%;
    }
    #cardbutton{
      margin-bottom: 2%;
    }

    .image-size{
      height: 100px;
      margin-left: 8%;
      margin-top: 5%;
    }

    .buttoncard button{
      font-size: 0.7em;
    }

    .section-2{
      margin-top: 0;
    }

    #produs-lista{
      font-size: 0.8em;
    }
  }

  @media all and (max-width: 600px){

    .container .product-title{
      font-size: 1.7em;
    }
    .section-2 .no-lists-found{
      font-size: 1.5em;
      margin-top: 25%;
    }
  }