/* CSS CLAUDIA */

.page-wrapper {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.header-web{
  width: 100%;
  display:flex;
  align-items: center;
  background-color:#381D2A;
  box-sizing: border-box;
  padding: 10px 15px;
}
.header-mobile {
  display: none;
}
.header-web .logo-wrapper {
  width: 75px;
  height: auto;
}
.logo{
  width: 100%;
  height: auto;
}
.search-wrapper {
  margin-left: auto;
}
.search-wrapper-mobile {
  display: none;
}
.search{
  background-color:transparent;
  height: fit-content;
  display: flex;
}
.searchbar[type=text]{
  font-family:'Raleway';
  border: 1px solid rgb(66, 3, 56);
  border-radius:20px;
  font-size: 17px;
  color:#001A33;
  padding: 5px 10px;
  box-sizing: border-box;
}
.buttonsearch{
  background: rgba(95, 0, 63, 0.479);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius:15px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.header-links-wrapper {
  margin-left:20px;
  display:flex;
  align-items:center;
  width: fit-content;
  height: auto;
}
.header-link {
  width: 40px;
  height: auto;
  margin-right: 10px;
}
.header-link img {
  width: 100%;
  height: auto;
}
.logout-wrapper {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  cursor: pointer;
}
.logout-wrapper a {
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;

}
.logout-wrapper i {
  font-size: 16px;
  color: white;
  margin-left: 5px;
}
.logout-wrapper:hover a {
  font-size: 18px;
}
.logout-wrapper i {
  font-size: 20px;
}
html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:#381D2A
}

.menu {
  margin: 0;
  width:18%;
padding: 0;
  background-color:#381D2A;
  display: flex;
  flex-direction: column;
}

.submenu-claus-container {
  width: 197px;
  margin-top: 10px;

}

.submenu-claus {
  display: none;
  text-decoration: none;
  color: white;
}

.submenu-text {
  color:rgb(255, 255, 255);
  text-decoration: none;
  background-color: transparent;
  border-color: #381D2A;
}

.menu-element{
display: flex;
  padding: 8px 16px;
  align-items: flex-start;
}
.menu-image {
  color: #000;
  width: 50px;
  height: 40px;
  max-width: 220px;
  padding-right: 12%;
}
.menu-text {
  color:rgb(255, 255, 255);
  padding-top:5px;
  text-decoration: none;
  display: none;
  background-color: transparent;
  border-color: #381D2A;
}
.menu:hover .menu-text{
  display: initial;
}
.menu-text:hover{
  background-color: #555;
color: white;
}
.menu:hover .submenu-claus-container .submenu-claus {
  display: inline;
}
footer{
  text-align:left;
}

.contact a{
  text-decoration: none;
  color: white;
  display: inline;
}
.contact-form{
  text-align: center;
  text-decoration: wavy;
}
.another-container{
  text-align: center;
}
.mobile-menu {
  display: none;
}

.content{
  width: 100%;
  display: flex;
  
  padding: 0 30px;
  box-sizing: border-box;
}

.content2{
  width: calc(100%-100px);
}



.editeazaDatele{
  float: right;
}

.date{
  width: 50%;
  margin: 0 auto;
}

.dataTable{
  background-color: white;
  width: 100%;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid purple;
  
}

.titlu{
  font-size: 25px;
  font-family: "Times New Roman", sans-serif;
}


.listButton{
  margin: auto;
  height: 35px;
  background-color: orange;
  color: purple;
  padding-bottom: 4px;
  width: 200px;
  font-family: Georgia;
}

.groupsList{
  display: flex;
  justify-content: center;
}

.li0{
  padding: 15px;
  margin: 30px;
}

.li1{
  width: 20%;
  font-size: 1.5rem;
  padding: 15px;
  margin: 15px;
  background-color: white;
  color: #fff;
  border-radius: 25px;
  font-family: Georgia;
}

/*.li1 { 
  list-style-type: none;
  position: relative;
  font-size: 1.5rem;
  padding: 15px;
  margin: 30px;
  background-color: white;
  color: #fff;
  border-radius: 25px;
  font-family: Georgia;
}*/

.groupParagraph{
  position: relative;
}

.content3, .content2{
  margin-top: 60px;
  text-align: center; 
}

.favorites{
  font-size:xx-large;
  color: white;
}

.favoriteParagraph{
  color: black;
}

.li1 img{
  width: 50%;
  height: 150px;
}

.removeParagraph{
  color: black;

}

.removeButton{
  display: flex;
  flex-direction: column;
}

.productButton, .favoriteParagraph{
  width: 50%;
  margin: 0 auto;
  background-color: orange;
  border-radius: 10px;
}

/* CSS CLAUDIA */
@media only screen and (max-width: 800px) {
     
  .header-web {
      display: none;
  }
  .header-mobile {
       display: flex;
       align-items:center;
       padding: 20px 15px;
       box-sizing: border-box;
  }
  .menu {
      display: none;
  }
  .logo-mobile {
       margin-left: auto;
       margin-right: auto;
       width: 70px;
       height: auto;
  }
  .header-mobile-burger {
      width: auto;
      height: auto;
  }
  .header-mobile-burger i{
       color: white;
       font-size: 26px;
   }
   .content{
       width: 100%;
       display: flex;
       padding: 10px 20px;
       box-sizing: border-box;
      
   }
   .container{
       width: 100%;
       margin-right: 0;
   }
   .mobile-menu{
       position: absolute;
       width: 100%;
       height: 100vh;
       top: 0;
       background: white;
       z-index: 5;
       display: flex;
       padding: 20px 15px;
       box-sizing: border-box;
       display: flex;
       flex-direction: column;
       display: none;
   }
   .show-mobile-menu {
       display: block;
   }
   .infos-wrapper {
       display: flex;
       align-items: center;
       width: 100%;
       height: fit-content;
       padding-bottom: 10px;
       border-bottom: 1px solid black;
   }
   .close-menu-icon i{
       color: black;
       font-size: 26px;
   }
   .menu-text {
       display: block;
       color: black;
       font-size: 16px;
       font-weight: bold;
   }
   .submenu-claus-container {
       position: relative;
       width: 197px;
   }
   
   .submenu-claus {
       display: none;
       position: relative;
       /* top: 0; */
       /* right: 0px; */
       text-decoration: none;
       color: black;
       display: flex;
       flex-direction: column;
       width: 100%;
   }
   .submenu-claus div {
       align-self: center;
   }
   .submenu-text {
       color:black;
       text-decoration: none;
   }
   .header-links-wrapper {
       width: 100%;
       justify-content: center;
       margin-left: 0;
   }
   .logout-wrapper {
       width: 100%;
       justify-content: center;
   }
   .logout-wrapper a {
       color: black;
   }
   .logout-wrapper i {
       color: black;
   }
   .subheader-mobile {
       width: 100%;
       height: fit-content;
       display: flex;
       justify-content: center;
   }
   .search-wrapper-mobile {
       display: block;
       width: fit-content;
   }
}   


@media all and (max-width: 600px){
  .groupsList{
    flex-direction: column;
    align-items: center;
  }
  .li1{
    width: 50%;
  }

}


  @media all and (max-width: 700px){
   .productButton{
     font-size: 42%;
   }

   .favoriteParagraph{
     font-size: 70%;
   }

}

@media all and (max-width: 700px){
  td input{
    width: 100%;
  }

}