header{
    width: 100%;
    display:flex;
    align-items: center;
    background-color:#381D2A;
    
}


header .logo{
    margin-right: auto;
}
* {
    box-sizing: border-box;
  }
  
  .search{
    background-color:transparent;
    width:80%;
    float:right;
    height:100px;
  }
  .searchbar[type=text]{
    float: right;
    margin-top:50px;
    font-family:'Raleway';
    padding: 0.5%;
    border: 1px solid rgb(66, 3, 56);
    border-radius:20px;
    font-size: 17px;
    color:#001A33;
  }
  .buttonsearch{
    float: right;
    margin-right:5px;
    padding-top:0.6%;
    padding-bottom:0.6%;
    background: rgba(95, 0, 63, 0.479);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius:15px;
    cursor: pointer;
    margin-top:50px;
  }

header .blabla{
    width: 50px;
    height: 50px;
}
header .blabla .account{
    width: 100%;
    height: 100%;
    
}
header .blabla .grup{
    width: 100%;
    height: 100%;
}
header .blabla .list{
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#381D2A
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.container{
    width: 77%;
    margin-right:5%;
    background-color:rgb(255, 255, 255)
}
.text-center{
    float:left;
    font-size:30px;
    width:16%;
    margin-left:42%;
    margin-top:50px;
    text-align:center;
    background-color:rgba(255, 255, 255, 0.678);
    color:black;
    text-decoration:wavy;
    
}
.descriere-principal{
    width:40%;
    margin-left:30%;
    margin-top:100px;
    text-align:center;
    float:left;
    background-color:white;
    color:black;
    opacity: 0.8;
    font-size: large;
    
}
.text-block {
    background-color: white;
    color: black;
    width:100%;
    height:500px;
    background-image:url('imagine2.png');
    background-size: cover;
  }
.menu {
    margin: 0;
    width:18%;
	padding: 0;
    background-color:#381D2A
}

.submenu-claus-container {
    position: relative;
    width: 197px;
}

.submenu-claus {
    display: none;
    position: absolute;
    top: 0;
    right: 0px;
    text-decoration: none;
    color: white;
}

.submenu-text {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
div.menu > div > div:nth-child(2):hover > .submenu-claus{
    display: block;
}
  
.menu-element{
	display: flex;
	padding: 8px 16px;
}
.menu-image {
    color: #000;
    width: 50px;
    height: 40px;
    max-width: 220px;
    padding-right: 12%;
}
.menu-text {
    color:rgb(255, 255, 255);
    padding-top:5px;
    text-decoration: none;
    display: none;
}
.menu:hover .menu-text{
    display: initial;
}
.menu-text:hover{
    background-color: #555;
	color: white;
}
footer{
    text-align:left;
}

.contact a{
    text-decoration: none;
    color: white;
    display: inline;
}
.contact-form{
    text-align: center;
    text-decoration: wavy;
}
.another-container{
    text-align: center;
}