/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.box2 {
  margin-top:1%;
  display:inline-block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border:2px solid #381D2A;
  background-color: #F9F9F9;
  border-radius:10px;
  margin-bottom: 1%;
}

.little-container{
  padding-bottom: 30%;
}

.welcome-text {
  font-family: 'Merienda One', Helvetica, sans-serif;
  font-size: 500%;
  color: #381D2A;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
  }

  .welcome-text1 {
    font-family: Impact, sans-serif;
    font-size: 600%;
    color: #FFA552;
    width: 100%;
    margin-left: 47%;
    }

  .sign-in {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    color: #381D2A;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
 
  form {
    margin-top: 10px;
    margin-bottom: 10px;
  }
 
  .form1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    width: 25%;
    margin-left: 37%;
    margin-top: 2px;
    border-width: 0.3em;
    margin-bottom: 10px;
  }
  
  buttons {
    margin-left: 38.6%;
    margin-top: 50px;
  }

  button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100%;
  color: #FFA552;
  width: 10%;
  border-width: 0.1em;
  background-color: #381D2A;
  margin-top: 30px;
  }

  .account-text {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 130%;
      font-weight: bold;
      color: #381D2A;
      width: 100%;
      text-align: center;
      margin-top: 50px;
  }

  .form2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
    border-width: 0.3em;
    margin-bottom: 10px;
  }

  buttons2{
    margin-left: 45%;
    font-size: 1.3em;
  }

  .account-text2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
    font-weight: bold;
    color: #381D2A;
    width: 70%;
    text-align: center;
    margin-top: 20px;
    margin-left:15%;
}

.form3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 300%;
  margin-left: 20%;
  margin-top: 10px;
  border-width: 0.3em;
  margin-bottom: 10px;
}

.check-left{
  width: 50%;
  float: left;
}

.check-right{
  width: 50%;
  float:right;
}

.allergies{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 110%;
  color: #381D2A;
  width: 60%;
  margin-left:30%;
  margin-top: 10px;
}

.product-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 300%;
  font-weight: bold;
  color: #381D2A;
  width: 45%;
  margin-top: 10%;
  margin-left: 40%;
}

.left-product{
  float:left;
  margin-top: 80px;
  width: 40%;
  text-align: center;
}

.right-product{
  width: 60%;
  background-color: #F9F9F9;
  float:right;
  margin-top: 80px;
}

.description-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 120%;
  font-weight: bold;
  color: #381D2A;
  width: 45%;
  margin-left: 170px;
  margin-bottom: 4px;
}

.content{
  font-size: 150%;
  margin-left:170px;
  margin-right: 100px;
  margin-bottom: 4px;
  word-wrap: break-word;
}

.buttonfav{
  margin-left: 170px;
  width: 1500px;
}

.details{
  margin-top: 30%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 120%;
  color: #381D2A;
}

.det1{
font-weight: bold;
margin-top: 20px;
}

/* Responsivness */

@media only screen and (max-width:330px)
{
  .product-title {
    font-size: 0.2em;
  }
}