.content2{/* container cu tot cu meniu */
  width: 80%;
  margin: 0 auto;
  display: flex;
  background-color: #F9F9F9;
  border-radius: 10px;
  flex-direction: column;
}

.section-1{
  width: 100%;
}

.section-1 .welcome-text {
font-family: 'Merienda One', Helvetica, sans-serif;
font-size: 4em;
color: #381D2A;
text-align: center;
margin-top: 100px;
margin-bottom: 0;
}

.section-1 .welcome-text1 {
font-family: Impact, sans-serif;
font-size: 5.5em;
color: #FFA552;
margin-top: 0px;
margin-left: 55%;
margin-bottom: 0;
}

p.account-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 130%;
  font-weight: bold;
  color: #381D2A;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

p.account-text2 {/* al doilea text */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 110%;
  font-weight: bold;
  color: #381D2A;
  width: 70%;
  text-align: center;
  margin-left: 15%;
}
.formular {
  margin-bottom: 20px;
}
.form2 {/* inputuri form */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100%;
  width: 40%;
  margin-left: 30%;
  margin-top: 10px;
  border-width: 0.3em;
  margin-bottom: 10px;
  border: 1px solid #381D2A;
  box-sizing: border-box;
  padding: 10px 12px;
  display: inline-block;
  border-radius: 6px;
}

.check-left {
  width: 50%;
  float: left;
}

.check-right {
  width: 50%;
  float: right;
}

.allergies {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 110%;
  color: #381D2A;
  width: 60%;
  margin: 0 auto;
}

.centerbutton2{
  text-align: center;
}

.centerbutton2 button {
  margin-top: 3px;
  border-radius: 6px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100%;
  color: #FFA552;
  width: 10%;
  background-color: #381D2A;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  padding: 6px 12px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(66, 5, 66, 0.19);
  
}

.centerbutton2 button:hover{
  background-color: #FFA552;
  color: white;
}

@media all and (max-width: 850px){
  
  .section-1 .welcome-text{
    font-size: 2.5em;
  }

  .section-1 .welcome-text1{
    font-size: 3em;
  }
  p.account-text{
  font-size: 0.9em;
}

  .form2{
    padding: 5px 12px;
  }

  p.account-text2{
    font-size: 0.8em;
  }
  
  .allergies{
    font-size: 0.9em;
  }

  .centerbutton2 button{
    font-size: 0.7em;
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media all and (max-width: 660px){

  .section-1{
    margin-top: 5%;
    margin-bottom: 0;
  }

  .section-1 .welcome-text{
    margin-top: 5%;
  }

  p.account-text{
  font-size: 0.6em;
}

.form2{
  padding: 2px 5px;
  font-size: 0.7em;
  margin-top: 2%;
  margin-bottom: 2%;
}

p.account-text2{
  font-size: 0.8em;
}

.allergies{
  font-size: 0.8em;
}

.centerbutton2 button{
  width: auto;
}

}

@media all and (max-width: 470px){
  .section-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .section-1 .welcome-text{
    margin-top: 5%;
    font-size: 1.8em;

  }

  .section-1 .welcome-text1{
    font-size: 2.3em;
    margin-bottom: 0;
  }

  p.account-text{
    margin-top: 5%;
  }

  p.account-text2{
    font-size: 0.6em;
  } 
}

@media all and (max-width: 320px){
  .allergies{
    width: 90%;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
  }
  .allergies .check-left, .allergies .check-right{
    width: 100%;
  }
}
